* {
    margin: 0 auto;
}

.page-width {
    max-width: calc(1800px - 50px);
    padding: 0px 50px;
    margin: 0 auto;

}

.list-unset {
    list-style: none;
}

.decoration-none {
    text-decoration: none;
}

.sub-heading {
    font-size: 35px;
}

.sub-heading-h2 {
    font-size: 30px;
}

.sub-heading-h3 {
    font-size: 20px;
}

.sub-heading-h6 {
    font-size: 16px;
}

body {
    font-family: 'DM sans', sans-serif;
    font-size: 16px;
}

a {
    display: inline-block;
}

:root {
    --color-forgrade: #036147;
    --color-background: #fff;
    --secondary-background: #ebe8e1;
    --teritory-background: #f4f2ec;
    --hover-color: #f26c4e;
    --teritory-color: #f26c4e;
    --primary-text-color: #000000;
    --secondary-text-color: #fff;
    --primary-weight: 600;
    --secondary-weight: 900;
    --teritory-weigth: 400;
    --quaternary-weight: 100;
    --primary-font-size: 16px;
    --secondary-font-size: 14px;
    --teritory-font-size: 10px;
    --secondary-font: 'Poppins', sans-serif;
    --radius: 5px;

}


.font-poppins {
    font-family: var(--secondary-font);
}

.grid-col-4-desktop {
    width: calc(25% - 22px);
    max-width: calc(25% - 22px);
}

.grid-col-7-desktop {
    width: calc(14.2857% - 22px);
    max-width: calc(14.2857% - 22px);
}

.grid-col-3-desktop {
    width: calc(33.3333% - 10px);
    max-width: calc(33.3333% - 10px);
}
.grid-col-3-desktop-second {
    width: calc(33% - 15px);
    max-width: calc(33% - 15px);
}
.grid-col-2-desktop {
    width: calc(47% - 0px);
    max-width: calc(47% - 0px);
}

.collection-context {
    gap: 5px;
}

/* font styling */

.second-font {
    font-family: var(--secondary-font);
}

/* buton styling */

.primary-button {
    border-radius: var(--radius);
    border: 1px solid #ffffff;
    background-color: #e7e7e761;
    padding: 14px 20px;
    font-size: 14px;
}

.primary-button:hover,
.secondary-button:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--hover-color);
    border: 1px solid var(--hover-color);
}

.secondary-button {
    border-radius: var(--radius);
    border: 1px solid #036147;
    background-color: #036147;
    padding: 10px 20px;
    font-size: 14px;
}

.teritory-button {
    border-radius: var(--radius);
}


/* color  paletes  */

.main-background-color {
    background-color: var(--color-forgrade);
}

.main-text-color {
    color: var(--color-forgrade);
}

.text-color-primary {
    color: var(--primary-text-color);
}

.text-color-secondary {
    color: var(--secondary-text-color);
}

.teritory-text-color {
    color: var(--color-forgrade);
}

.quaternary-text-color {
    background-color: var(--teritory-color);
}

.secondary-background {
    background-color: var(--secondary-background);
}

.teritory-background {
    background-color: var(--teritory-background);
}

.text-white {
    color: var(--secondary-text-color);
}

/* font weight  */

.primary-font-weight {
    font-weight: var(--primary-weight);
}

.secondary-font-weight {
    font-weight: var(--secondary-weight);
}

.teritory-font-weight {
    font-weight: var(--teritory-weigth);
}

.quaternary-weight {
    font-weight: var(--quaternary-weight);
}

/* font size  */

.small-font-size {
    font-size: var(--teritory-font-size);
}

.medium-font-size {
    font-size: var(--secondary-font-size);
}

.main-font-size {
    font-size: var(--primary-font-size);
}

/* flex property */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.margin-zero {
    margin: 0;
}

.padding-zero {
    padding: 0;
}


.announcement-bar-text {
    line-height: 1.6rem;
    padding: 5px 0px;
}

.logo {
    height: 60px;
    width: 233px;
}

.navbar-list {
    gap: 34px;
}

.header-icons {
    gap: 15px;
}

.navbar {
    justify-content: space-between;
    width: 100%;
}

.header-context {
    width: 100%;
    padding: 5px 0px;
}

.header-inner-context {
    width: 100%;
}

.heading {
    font-size: 16px;
}

.underline {
    text-decoration: underline #036147;
}

.secondary-underline {
    border-bottom: 1px solid #000;
}

.banner-image {
    padding: 0 0px 15px 0px;
}

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    aspect-ratio: 12.1/5.3;
}

/* .swiper-button-next,
.swiper-button-prev {
    display: none;
} */

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next::before,
.swiper-button-prev::before {
    display: none;
}

.swiper-btn-next,
.swiper-btn-prev {
    background-color: #ffffff4d;
    color: #ebe8e1;
    font-size: 35px;
    border-radius: 99px;
}


i.fa.fa-angle-left,
i.fa.fa-angle-right {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    padding: 12px;
    align-items: center;
}

.swiper-btn-prev {
    position: absolute;
    left: 15px;
}

.swiper-btn-next {
    position: absolute;
    right: 15px;
}

.banner-swiper-img {
    position: relative;
}

.explorer {
    position: absolute;
    flex-direction: column;
    gap: 25px;
    bottom: 7%;
    left: 2%;
}

.list-category {
    padding: 100px 0px;
}

.img-category {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid #ededed;
    aspect-ratio: 1/1;
}

.img-category img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.img-category img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.rich-text,
.rich-text-context {
    padding: 70px 0px;
    line-height: 1.8rem;
}

.rich-text-context,
.rich-text-heading {
    padding: 20px 0px 0px 0px;
    flex-direction: column;
    gap: 30px;
}

.rich-text-info {
    width: 900px;
}

.featured-collection,
.featured-collection-heading {
    padding: 70px 0px 50px 0px;
}

.featured-collection-heading {
    justify-content: space-between;
}

.image-rating img {
    border-radius: 10px;
}

.image-rating {
    width: 100%;
    aspect-ratio: 8.9/9.1;
}

.rating-img {
    border-radius: 10px;
    padding: 5px 6px;
}

.rating-img:hover,
.product-price:hover {
    transition: all 0.4s ease-in-out;
    background-color: var(--color-forgrade);
    color: var(--secondary-text-color);

}

.image-relative {
    position: relative;
    overflow: hidden;
}

.image-info {
    position: absolute;
    top: 2%;
    left: 2%;
    padding: 4px 11px;
    border-radius: 20px;
}

.rating-img:hover .cart-btn {
    transition: transform 0.5s ease-in-out;
    transform: translateY(0px);
}

.cart-btn {
    transform: translateY(60px);
    position: absolute;
    transition: transform 0.5s ease-in-out;
    bottom: 2%;
    right: 2%;
    padding: 8px 9px 5px 9px;
    border-radius: 7px;
    background-color: var(--teritory-color);
}

.image-info p {
    font-size: 12px;
}

.rating {
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.product-price {
    gap: 10px;
    flex-direction: column;
}

.star {
    gap: 13px;
}

.star-icon {
    gap: 5px;
}

.featured-img {
    width: 34px;
    height: 34px;
}

.featured-heading {
    gap: 15px;
}

.collection-list-wrapper {
    padding: 0 0 70px 0;
}

.collection-list {
    padding: 0 0 15px 0;
}

.collection-list-inner,
.list-context {
    border-radius: 10px;
    overflow: hidden;
}

.list-context:hover .context-info {
    background-color: var(--color-forgrade);
    color: var(--secondary-text-color);
    transition: all 0.4s ease-in-out;
}

.collection-list-context {
    gap: 10px;
}

.context-image {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.context-image img {
    border-radius: 10px 10px 0 0;
    aspect-ratio: 3/2.1;
    object-fit: cover;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.context-image:hover img {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.context-info {
    padding: 15px 0px;
}

.marque-section-first {
    overflow: hidden;
    border-radius: 15px;
}

.marque-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 5.5/1.5;
    padding: 10px;
    background-color: #ffff;
    border-radius: 10px;
}
.marque-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.marque-context {
    white-space: nowrap;
    padding: 10px 0;
}

.marque-list {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    animation: scroll-marquee 15s linear infinite;
}

.marque-list li {
    display: inline-flex;
    margin-right: 10px;
    width: 15%;
}

@keyframes scroll-marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.multi-column-para {
    width: 82%;
}

.multi-column-inner {
    justify-content: space-around;
    width: 100%;
}

.multi-column-grid {
    width: 100%;
}

.multi-column-info,
.multi-column-sub-heading {
    flex-direction: column;
    gap: 20px;
}

.multi-column-img img {
    width: 100%;
    height: 100%;
}

.multi-column-img {
    height: 60px;
    width: 60px;
}

.card-product-heading {
    gap: 20px;
}

.image-with-txt-wrapper {
    padding: 50px 0px;
}

.image-txt {
    height: 730px;
    width: 640px;
}

.liquid-image img {
    border-radius: 10px;
}

.liquid-image {
    height: 100%;
    width: 100%;
}

.image-with-text-para {
    width: 71%;
    line-height: 1.7;
}

.main-txt {
    flex-direction: column;
    gap: 30px;
}

.image-with-txt-inner {
    align-items: center;
}   

.image-with-txt-context {
    padding: 50px 30px 70px 50px;
}
.collection-list-head {
    justify-content: space-between;
}

.collection-list-heading {
    padding: 50px 0;
    flex-direction: column;
    gap: 10px;
}

.scrolling-item-main {
    width: calc(60% - 20px);
    max-width: calc(60% - 20px);
}

.scroll-item-list {
    width: calc(40% - 20px);
    max-width: calc(40% - 20px);
}

.scrolling-marque {
    overflow: hidden;
    padding: 15px 10px;
}
.main-image img {
    border-radius: 15px;
}

.scrolling-list-item.flex {
    gap: 20px;
}

.scrolling-item-main {
    width: calc(55% - 0px);
    max-width: calc(55% - 0px);
}

.main-image.flex {
    aspect-ratio: 10/12;
}

.main-image img {
    object-fit: cover;
    object-position: right;
}

.scroll-item-list {
    width: calc(45% - 20px);
    max-width: calc(45% - 20px);
}

.featured-collection-context {
    row-gap: 15px;
}

.scrolling-image {
    position: sticky;
    top: 0;
}
.scrolling-list-wrapper {
    padding: 50px 0 70px 0;
}
.scrolling-list-inner , .list-collection-wrapper , .list-context-main {
    padding: 0 0 50px 0;
}

.scroll-marquee-list li{
width: 25%;
}

.text-heading{
    align-items: center;
    gap: 10px;
}
.para-cont {
    width: 90%;
}

.text-inner {
    display: grid;
    grid-template-columns: 45% 55%;
}
.collection-list-image img {
    border-radius: 10px;
    aspect-ratio: 4.5/5;
}
.list-context-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 6px;
}

.third-marquee-scrolling-wrapper {
    padding: 50px 0;
}

.third-marquee-list {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
  gap: 30px;
}

.third-marquee-img-main {
    gap: 15px;
    padding: 15px 0;
}

.third-marquee-img {
    aspect-ratio: 6.5/4.5;
    background: none;
    width: 70px;
}

.third-marquee-img img {
    object-fit: contain;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}











.links {
    flex-direction: column;
    gap: 25px;
}

.social-media {
    gap: 10px;
    align-items: flex-start;
}

.links-with-payments {
    padding-top: 100px;
}

.payments-option {
    padding: 80px 0px 30px 0px;
}

.payment-icon {
    justify-content: space-between;
    gap: 50px;
}

.payment-icon-img {
    gap: 10px;
}

.multi-links-icon {
    flex-direction: column;
    gap: 13px;
}